@font-face {
    font-family: 'minecraftiaregular';
    src: url('minecraftia-regular-webfont.woff2') format('woff2'),
         url('minecraftia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

table {
    width:'300px';
}