<!doctype html>
<html lang="en">


<head>
  <meta charset="utf-8">
<title>3City Bus</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<div style='text-align: center;' class="p-3 mb-2 bg-dark text-white">
<div style="width: 50%; margin: 0 auto; ">
<form action="/index" method="POST">
{{ form.autocomp.label }}: {{ form.autocomp }}
<button type="submit" class="btn btn-primary">Szukaj</button>
</form>
</div>
</div>

<script>
  $(function() {
      $.ajax({
          url: '{{ url_for("autocomplete") }}'
          }).done(function (data){
              $('#stop_autocomplete').autocomplete({
                  source: data,
                  minLength: 2
              });
          });
      });
</script>


</body>
</html>