<!doctype html>
<html lang="en">


<head>
  <meta charset="utf-8">
<title>3City</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

{{ form.autocomp.label }}: {{ form.autocomp }}

<script>
  $(function() {
      $.ajax({
          url: '{{ url_for("autocomplete") }}'
          }).done(function (data){
              $('#stop_autocomplete').autocomplete({
                  source: data,
                  minLength: 2
              });
          });
      });
</script>

<div style="width: 50%; margin: 0 auto;">
  <table class="table table-borderless table-dark">
     <thead>
        <tr>
           <td scope="col"> Linia </td>
           <td scope="col"> Kierunek </td>
           <td scope="col"> Za </td>
        </tr>
     </thead>
     <tbody>
        {% for item in data %}
        <tr>
           <td style="font-family:'minecraftiaregular'; color: yellow"> {{ item['route_id'] }} </td>
           <td style="font-family:'minecraftiaregular'; color: yellow"> {{ item['headsign'] }} </td>
           <td style="font-family:'minecraftiaregular'; color: yellow"> {{ item['delay_mins'] }}min </td>
        </tr>
        {% endfor %}
     </tbody>
  </table>
</div>
</body>
</html>